*{
    font-family: 'Karla', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    border: 0;
}

body{
    background-color: rgba(210,72,72,1);
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    margin: 15px;
    font-weight: bold;
}

.container{
    width: 46%;
}

.card{
    margin-top: 40px;
    margin-bottom: 40px;
    border-color: rgb(94, 15, 15);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.count{
    margin: 5px;
}

@media (max-width: 800px)
{
  .container
   {
     width: 100%;
   }
}